h3 {
    color: black;
    font-family: serif;
    text-align: center;
    position: relative;
    margin: 0;
  }

  h1 {
  	text-align: center;
  }

  .col-md-4 {
    border-style: solid;
    margin-right: 2px;
    background-color: #13EE54;
  }